.playlistBrick {
    display: flex;
    
    margin: auto;
    height: 150px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    bottom: 0; /* Corrected value to 0 */
}
.playlistBrick img{
    padding: 15px;
    width: 125px;
    height: 125px;
}
.div2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
} 

.playlistBrick p{
    height: 10px; /* Adds space between the image and the text */
    margin-top: 60px;
}