

body {
    display: flex;
    background-color: #030637;
}
.playlistScreen {
    margin-top: -30px;
    margin-left: -10px;
    height: 1000vh;
    width: 1000vh; /* Set width to 100% of the parent element */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    background-color: #030637;
}
.playlists{
    display: flex;
    padding: 25px;
}
.playlistbutton {
    background-color: transparent;
    border: transparent;
}
.albumName {
    font-family: Catamaran;
    font-size: 21px;
}
.playlistItem {
    margin: 10px;
    padding: 25px;
    background-color:  #36454F;
    border-radius: 8px;
    text-align: center;
    color: white;
}
.Title {
    padding: 20px;
    padding-left: 100px;
    color: white;
    font-family: Catamaran;
}
@font-face {
    font-family: "Catamaran";
    src: url(./assets/Catamaran-VariableFont_wght.ttf);
}
