.sidebar-container {
    position: relative;
}

.sidebar {
    position: fixed;
    background-color: #1DB954;
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 200px; /* Set a specific width */
    height: 100vh; /* Full viewport height */
    padding: 8px; /* Thickness */
    z-index: 1000; /* Ensure it stays on top */
    transition: 0.5s;
}


.sidebar li {
    position: fixed; /* Fixed position to stay on top */
    color: White;
    list-style-type: none;
    text-decoration: none;
}

.sidebar.closed {
    transform: translateX(-80%); /* Slide out of view when closed */
    transition: 0.5s;
    background-color: transparent;
  }
.MenuButton {
    position: fixed; /* Fixed position relative to the viewport */
    top: 10px; /* Adjust the top position */
    left: 180px; /* Adjust the left position */
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    z-index: 1100; /* Ensure it's above the overlay */
}
/* SideBar.css */
.sidebar-links {
    list-style-type: none;
    padding: 15px;
}

.sidebar-links .links {
    
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust as needed */
}
.playlist {
    margin-top:100px;
    margin-bottom: 100px; /* Adjust as needed */
}
.homebutton button {
    margin-top: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    width: 150px;
    transition: 0.5s;
}
.homebutton button:hover {
    transition: 0.5s;
    background-color: rgb(35, 35, 54);
    border: none;
    width: 150px;
}
.playlist button {
    border-radius: 50px;
    background-color: transparent;
    border: none;
    width: 150px;
    transition: 0.5s;
}
.playlist button:hover {
    transition: 0.5s;
    background-color: rgb(35, 35, 54);
    border: none;
    width: 150px;
}